= format_field("Name", document.name )
= format_field("Description", document.description )
= format_field("Filename", document.original_filename )
%hr
= format_field("Creator", document.creator )
= format_field("Created At", format_as_date_time(document.created_at) )
= format_field("Updated At", format_as_date_time(document.updated_at) )
