.table-responsive
  %table.table.table-hover#sign_standards_datatable{:data => {:toggle => 'table',
    :card_view => "false",
    :pagination => 'false',
    :search => 'false',
    :show_columns => 'false',
    :show_toggle => 'false'}}
    %thead
      %tr
        %th.center Type
        %th.center Document
        %th.center Description
        %th.center Last Updated
        %th.center Actions
    %tbody
      - category.library_documents.each do |doc|
        %tr
          %td.nowrap
            %i.fa.fa-2x{:class => get_file_icon_for_filename(doc.original_filename)}
          %td.nowrap
            = link_to doc.name, library_category_library_document_path(category, doc)
          %td.left= format_as_text(doc.description)
          %td.right.nowrap= format_as_date(doc.updated_at)
          %td.right
            - if can? :read, doc
              = link_to download_library_category_library_document_path(category, doc), :class => "btn btn-primary btn-xs", :style => "margin-left: 5px;" do
                %i.fa.fa-download
                Download
            - if can? :update, doc
              = link_to edit_library_category_library_document_path(category, doc), :class => "btn btn-success btn-xs", :style => "margin-left: 5px;" do
                %i.fa.fa-edit
                Edit
            - if can? :destroy, doc
              = link_to library_category_library_document_path(category, doc), :method => :delete, :class => "btn btn-warning btn-xs", :style => "margin-left: 5px;", :data => { :confirm => 'Are you sure you want to remove this document?' } do
                %i.fa.fa-trash
                Delete
