= simple_form_for(@category,
  :html => {:class => 'form-vertical library_category_form' },
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes, :radio_buttons => :vertical_radio_and_checkboxes, :file => :vertical_file_input, :boolean => :vertical_boolean}) do |f|

  - if current_user.organizations.count > 1
    = f.association :organization, :collection => current_user.organizations, :label_method => 'coded_name', :required => false
    <select class="select form-control" id="library_category_organization_all" name="library_category_organization_all" disabled=true style="display: none"><option value="">ALL</option></select>

  = f.input :name, :required => true
  = f.input :description, :required => true
  - if current_user.has_role? :manager
    = f.input :public, :collection => [['No', false],['Yes', true]], :include_blank => false
  = f.input :active, :collection => [['No', false],['Yes', true]], :include_blank => false

  = f.button :submit, :class => "btn btn-primary"

:javascript
  $( '.library_category_public').change(function() {
    if(library_category_public.value == 'true'){
      library_category_organization_id.value = '';
      library_category_organization_id.style.display = "none";
      library_category_organization_all.style.display = "block"
      console.log(library_category_organization_id.value);
    }else
    {
      library_category_organization_id.style.display = "block";
      library_category_organization_all.style.display = "none"
    }


  });

:javascript

  // jquery validations
  $('.library_category_form').validate({
    ignore: [], //validate hidden fields
    submitHandler: function(form) {
      form.submit();
    }
  });
