= simple_form_for(@category,
  :html => {:class => 'form-vertical library_category_form' },
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes, :radio_buttons => :vertical_radio_and_checkboxes, :file => :vertical_file_input, :boolean => :vertical_boolean}) do |f|

  - if current_user.has_role? :manager
    = f.input :public, :collection => [['No', false],['Yes', true]], :include_blank => false
  - if current_user.organizations.count > 1
    = f.association :organization, :collection => current_user.organizations, :label_method => 'coded_name', :required => true
  = f.input :name, :required => true, :input_html => {:maxlength => 64}
  = f.input :description, :required => true, :input_html => {:maxlength => 254}
  = f.input :active, :collection => [['No', false],['Yes', true]], :include_blank => false

  = f.button :submit, :class => "btn btn-primary"

:javascript

  if(library_category_public.value == 'true') {
    library_category_organization_id.value = '';
    $('.library_category_organization').hide();
  } else {
    $('.library_category_organization').show();
  }

  $( '.library_category_public').change(function() {
    if(library_category_public.value == 'true') {
      library_category_organization_id.value = '';
      $('.library_category_organization').hide();
    } else {
      $('.library_category_organization').show();
    }
  });

  // jquery validations
  $('.library_category_form').validate({
    submitHandler: function(form) {
      form.submit();
    }
  });
